<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module.
  </p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="uppercase"
            [subheader]="nombreLower">
      {{nombreLower | uppercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase"
            [subheader]="nombreUpper |lowercase">
      {{nombreUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase"
            [subheader]="nombreUpper |titlecase">
      {{nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>
    Pipe para manejar las fechas.
  </p>
</div>

<div class="grid">
  <div class="col-6">
    <p-card >
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date: 'short'</li>
        <li>fecha | date: 'long'</li>
        <li>fecha | date:'mm:ss LLLL EEEE y'</li>
      </ul>
      <hr>
      <ul>
        <li>fecha | date: 'long':'GMT-6':'es'</li>
        <li>fecha | date: 'long':'GMT-4'</li>
        <li>fecha | date: 'long':'':'fr'</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card >
      <ul>
        <li>{{fecha}}</li>
        <li>{{fecha | date}}</li>
        <li>{{fecha | date: 'short'}}</li>
        <li>{{fecha | date: 'long'}}</li>
        <li>{{fecha | date:'mm:ss LLLL EEEE y'}} </li>
      </ul>
      <hr>
      <ul>
        <li>{{fecha | date: 'long':'GMT-6':'es-HN'}}</li>
        <li>{{fecha | date: 'long':'GMT-4'}}</li>
        <li>{{fecha | date: 'long':'':'fr'}}</li>
      </ul>
    </p-card>
  </div>
</div>
