<div class="text-layout">
    <h1>Pipes personalizados</h1>
   <p>Pipes creados por nosotros {{ 'l'|mayusculas:mayus}}</p>

</div>

<p-toolbar>
  <div class="p-toolbar-group-left">

  </div>

  <div class="p-toolbar-group-right">
    <button
      (click)="changeMayus()"
      pButton
      label="toggle mayusculas"
      class="p-button-warning mr-1"
    ></button>

    <button
      pButton
      icon="pi pi-sort"
      label="Por nombre"
      class="mr-1"
      (click)='cambiarOrden("nombre")'
    ></button>

    <button
      pButton
      icon="pi pi-sort"
      label="Volar"
      class="mr-1 p-button-success"
      (click)='cambiarOrden("vuela")'
    ></button>

    <button
      pButton
      icon="pi pi-sort"
      label="Por color"
      class="mr-1 p-button-help"
      (click)='cambiarOrden("color")'
    ></button>
  </div>
</p-toolbar>

<div class="p-grid">
  <div class="p-col mt-5">
    <p-table [value]="heroes | ordenar:ordenarPor">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroes>
          <tr>
              <td>{{heroes.nombre}}</td>
              <td>{{heroes.vuela | vuela | titlecase}}</td>
              <td>{{heroes.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>

<div class="p-grid">
  <div class="p-col mt-5">
    <p-table [value]="heroes | ordenar:ordenarPor">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="vuela">Vuela <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="color">Color <p-sortIcon field="code"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroes>
          <tr>
              <td>{{heroes.nombre}}</td>
              <td>{{heroes.vuela | vuela | titlecase}}</td>
              <td>{{heroes.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
